global:
  scrape_interval: 15s 
  evaluation_interval: 15s 

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - alertmanager:9093

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets:
          - "node-exporter:9100"
        labels:
          env: 'local'
          instance_type: 'docker_host'

  - job_name: 'cadvisor'
    static_configs:
      - targets:
          - "cadvisor:8081"
        labels:
          env: 'local'
          instance_type: 'docker_containers'

  - job_name: 'backend-staging'
    metrics_path: /metrics 
    scrape_interval: 5s
    static_configs:
      - targets: ["prometheus:9090"] 
        labels:
          env: 'local-simulated-staging'

  - job_name: 'backend-prod-blue'
    metrics_path: /metrics
    scrape_interval: 5s
    static_configs:
      - targets: ["prometheus:9090"]
        labels:
          env: 'local-simulated-prod'
          deployment: 'blue'

  - job_name: 'backend-prod-green'
    metrics_path: /metrics
    scrape_interval: 5s
    static_configs:
      - targets: ["prometheus:9090"]
        labels:
          env: 'local-simulated-prod'
          deployment: 'green'
